

/* Desktop */


.card-skills, .card-hobbies {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    padding: 3em 1.5em 1.5em ;
    gap: 1em;
    width: 100%;
}

.card-formacao {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    padding: 0;
    gap: 1em;
    align-items: center;
}

.card-formacao img{
    width: 2em;
    height: 2em;
}


.card-experiencia {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}




/* Mobile */

@media screen and (max-width: 480px) {

    .card-skills, .card-hobbies {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: white;
        padding: 2em 1em 1.5em ;
        gap: 1em;
        width: auto;
    }

    .card-formacao {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: white;
        padding: 0 1.5em;
        gap: 1em;
        width: 100%;
        align-items: center;
    }

    .card-experiencia {
        flex-direction: column;
        width: auto;
        align-items: start;
    }

    .card-experiencia1  {
        align-items: end;
    }
}
