
/* Desktop */


.nav__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}


.nav__logo img {
    width: 1em;
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
}

.container-hero__text, .container-fale-comigo__title {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.container-hero__links {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.container-hero__link {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.container-hero__link p {
    font-weight: 500;
    font-size: 14px;
}

.container-skills, .container-hobbies, .container-formacao_grid, .container-experiencia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4em;
    padding: 1em 0;    
}


.container-skills, .container-hobbies {
    padding: 2em;
}

.container-skills__grid, .container-hobbies__grid {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;  
}


.container-formacao, .container-formacao_grid, .container-experiencia, .container-fale-comigo {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
    gap: 4em;
    padding: 1em 0;
}

.container-formacao {
    gap: 2em;
}

.container-formacao_grid {
    gap: 1.4em;
    align-items: start;
    padding-bottom: 0;
}

.container-formacao__title, .container-experiencia__title {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    text-align: start;
}



.container-experiencia__image{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;

}

.container-experiencia__image-stroke {
    border: 1px var(--cinza) solid;
    border-radius: 0.4em;
    padding: 1em 1em;
}

.container-experiencia__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    width: 100%;
}

.container-experiencia__buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.container-fale-comigo {
    gap: 2em;
}

.container-fale-comigo__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 40em;
    width: 40%;
}

.container-fale-comigo__image img {
    flex-shrink:0;
    height:100%;
}

.container-fale-comigo__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.input-nome, .input-email, .input-assunto, .input-mensagem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 0.2em;
}

input[type=text], input[type=email], textarea {
    box-sizing: border-box;
    height: 2.5em;
    border: solid var(--cinza) 2px;
    border-radius: 0.3em;
}

textarea[name=mensagem] {
    height: auto;

}    









/* Mobile */

@media screen and (max-width: 480px) {
    
    .nav__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2em;
    }

    .nav__logo p {
        font-weight: 700;
        font-size: 14px;
    }

    .nav__logo img {
        width: 1em;
    }

    .container-hero {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .container-hero__text {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .container-hero__links {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .container-hero__link {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }

    .container-hero__link p {
        font-weight: 500;
        font-size: 14px;
    }

    .container-skills, .container-hobbies, .container-formacao_grid, .container-experiencia {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 4em;
        padding: 1em 0;    
    }

    .container-skills__grid, .container-hobbies__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #2196F3;
        row-gap: 0.4em;
        column-gap: 0.4em;
    }

    .container-formacao_grid, .container-experiencia, .container-fale-comigo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5em;
    }

    .container-formacao_grid {
        gap: 0.5em;
    }

    .container-experiencia__title, .container-fale-comigo__title {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.4em;
    }

    .container-experiencia__image, .container-experiencia__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px var(--cinza) solid;
        border-radius: 0.4em;
        display: flex;
        padding: 0.6em 0.2em;
        align-items: center;
    }


    .container-experiencia__buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1em;
    }

    #line-2px {
        align-content: left;
        width: 100vw;
    }

    .container-fale-comigo__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 1em;
    }

    .input-nome, .input-email, .input-assunto, .input-mensagem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 0.2em;
    }

    input[type=text], input[type=email], textarea {
        box-sizing: border-box;
        height: 2.5em;
        border: solid var(--cinza) 2px;
        border-radius: 0.3em;
    }

    textarea[name=mensagem] {
        height: auto;
    }
}





